@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-olive: rgb(38, 44, 30);
  --dark-cyan: rgb(39, 120, 124);
  --silver: rgb(169, 172, 169);
  --platinum: rgb(212, 215, 222);
  --midnight-green: rgb(28, 50, 53);
  --white: rgb(246, 247, 248);
  --black: rgb(19, 21, 24);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--silver: rgb(218, 224, 209);
    --dark-cyan: rgb(100, 201, 206);
    --black-olive: rgb(82, 86, 82);
    --platinum: rgb(33, 36, 43);
    --midnight-green: rgb(187, 216, 221);
    --white: rgb(19, 21, 24);
    --black: rgb(246, 247, 248);*/
  }
}
body {
  color: var(--white);
  background: var(--platinum);
}

.no-scroll {
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
